<%= render "shared/navbar" %>
<div class="content">
    <div class="wrapper">
    <h1>About</h1>
    <ul>
        <li>Used the scaffold feature of Ruby on Rails to create the model, views, and controller for articles.</li>
        <li>Built a feature that allows users to create pieces about their interests by adding articles to the database through the MVC software architectural pattern.</li>
        <li>Built a feature that lets users manage posted articles by allowing the editing of details stored in the database.</li>
        <li>Implemented a feature that allows users to delete articles they are no longer satisfied with through a delete method created in the articles controller during the creation of the scaffold.</li>
        <li>Used Bulma to design FE.</li>
    </ul>
    </div>
</div>

